.background {
  background: url('/banana-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(3px);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
  min-height: 100vh;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background: #00000050;
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.navbar > * {
  margin: 1em;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-top: 1em;
}

.navbar li {
  background-color: #00000050;
  padding: 0.3em;
  display: inline-block;
}

.navbar ul li:last-child {
  padding-right: 1em;
}

.navbar ul li:first-child {
  padding-left: 2em;
}

.game {
  background-color: #00000050;
  height: 15em;
  width: 11em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5em;
  border-radius: 1em;
}

.game img {
  height: 10em;
  aspect-ratio: 1 / 1;
}

.x-scrollable {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  padding: 0.5em 0;
  overflow-y: hidden;
}

h1 {
  margin-block: 0.67em !important;
  font-size: 2em !important;
}

.scroll-btn {
  position: fixed;
}

.right {
  right: 10px;
  top: auto;
}
.left {
  left: 10px;
  top: auto;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}